[submodule "OpenOCD"]
	path = OpenOCD
	url = https://github.com/arduino/OpenOCD
[submodule "hidapi"]
	path = hidapi
	url = git://github.com/signal11/hidapi.git
[submodule "dfu-util-dsigma"]
	path = dfu-util-dsigma
	url = https://github.com/dsigma/dfu-util.git
